@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ComponentWithTypes TKey="string" TService="IComposedInterface"
                    @bind-Value="_componentValue" />

@code{
    string _componentValue = string.Empty;
}